<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no;">
    <script src="/static/layui/js/jquery-3.3.1.min.js"></script>
    <title>How are you M</title>
    <style>
        html{height:100%;width:100%;}
        body{background-color:#333;margin:0;width:100%;height:100%;font-size:1rem;}
        .result-test{display: none;}
        .result{height:calc(100% - 20px);width:calc(100% - 20px);background-color:rgb(51,51,51);color:rgb(255,255,255);padding:10px;overflow-y:scroll;cursor:text;}
        .result-last-prepare{width:100%;}
        .result-last{overflow: hidden;display:none;}
        .input-div{width: 100%;}
        .input{font-size:1rem;background:transparent;border:0px;outline:none;color:#FFF;padding:0;}
        .name{color:#369c6e;}
        .alias{color:#ff6666;}
        .source1{color:#FFF;background-color:#FF4081;}
        .source2{color:#FFF;background-color:#FF4081;}
        .reference{color:#FFF;background-color:#FF4081;}
    </style>
</head>
<body>
	<div id="test" class="result-test">&nbsp;<span>测试Test</span></div>
    <div class="result scroll"><div class="input-div"><span class="input-indicator"></span><input class="input"/></div></div>
    <script>
    	var lineHeight = $('.result-test').height();

		var oResult = $('.result'); //输出
		var oResultLast; //本次输出，临时变量
		var oInputDiv = $('.input-div');
		var oInputIndicator = $('.input-indicator');
		var oInput = $('.input');
		var isPosting = false;
		var timer;

		var currResultDivs = [];
		var currSearch = '';

		oInputIndicator.text('>>> ');
		oInput.width(oInputDiv.width() - oInputIndicator.width() - 1);
		oInput.focus();

    	var cmdData = {};
    	$.ajax({
            url: '/static/json/medicine.json',
            dataType: 'json',
            success: function(data){
                cmdData = data;
            }
        })

        var os = getOS();
        var browser = getBrowserVer();
        printText((!browser === false ? ('--> 平台： ' + os + ' - ' + browser.name + ' ' + browser.version) : 'unknown') + '<br>' + '--> 正在配置本地环境...<br>--> 正在检查网络环境...<br>', function(){
            oInputDiv.hide();

            setTimeout(function() {
                printText('--> 正在连接服务器...<br>', function(){
                    oInputDiv.hide();

                    setTimeout(function() {
                        oInputDiv.prev().prev().remove();
                        oInputDiv.prev().remove();
                        oInputDiv.show();
                    }, 200);
                });
            }, 150);
        });

		oInput.bind('keypress', function(event) {
		    if (event.keyCode == "13") {
		        var indicatorStr = oInputIndicator.text();
		        var inputStr = oInput.val();
		        oInputDiv.before(indicatorStr + inputStr + '<br>');
		        oInputDiv.hide();
		        oInput.val('');

		        if(inputStr && (inputStr.substring(0, 1) == '?' || inputStr.substring(0, 1) == '？')){
		        	if(inputStr.length === 1){
		        		printText(cmdData.help || 'WTF?');
		        	}else{
			        	var cmdArr = inputStr.substring(1, inputStr.length).split(/[ -.]/);
			        	if(cmdArr.length == 1){
			        		printText(cmdData[cmdArr[0]] || (cmdArr[0] + ' 不是内部或外部命令'));
			        	}
		        	}

		        }else if (/^\d+$/.test(inputStr)) {
		            var index = inputStr;
		            var id = getSelectedId(index);

		            if (!id === false) {

				        if (isPosting) {
				            return false;
				        }
				        isPosting = true;
		                $.post(
		                    '/medicine/details', {
		                        id: id
		                    },
		                    function(data) {
		                        if (data.success) {
		                            printSearchItem(data.data);
		                        } else {
		                            printText("接口请求错误");
		                        }
		                    },
		                    'json'
		                );
		            } else {
		                printText("记录选择错误");
		            }

		        } else {
		        	currSearch = inputStr;

			        if (isPosting) {
			            return false;
			        }
			        isPosting = true;
		            $.post(
		                '/medicine/searchList', {
		                    search: currSearch
		                },
		                function(data) {
		                    if (data.success) {
		                        if (data.data.length > 0) {
		                            printSearchList(data.data);
		                        } else {
		                            printText("没有找到记录");
		                        }
		                    } else {
		                        printText("接口请求错误");
		                    }
		                },
		                'json'
		            );
		        }
		    }
		});

		//打印文字
		function printText(text, fn) {
		    if (text && text.length > 0) {
		        printPrepare();
		        oResultLast.append(text);

		        printStart(function(){
		        	printOver();
		        	if(fn){
		        		fn();
		        	}
		        });
		    } else {
		        printOver();
		        if (fn) {
		            fn();
		        }
		    }
		}

		//打印输出详细信息
		function printSearchItem(item, fn) {
		    printPrepare();

		    var str = '名称：<span id="' + item.id + '" class="name">' + item.name + '</span>' + '&nbsp;&nbsp;' +
		        '<span class="source1">' + item.source1 + '</span>' + '&nbsp;' +
		        '<span class="source2">' + item.source2 + '</span>' + '&nbsp;<br>' +
		        '别名：<span class="alias">' + item.alias + '</span>' + '<br>' +
		        '引用文献：<span class="reference">' + item.reference + '</span>' + '<br>' +
		        '详细信息：<span class="content">' + item.content.replace(/【/g, '<br>【') + '</span>' + '<br>';
		    oResultLast.append(str);

		    printStart(function(){
	        	printOver();
	        	if(fn){
	        		fn();
	        	}
	        });
		}

		//打印输出列表
		function printSearchList(data, fn) {
		    if (data.length > 0) {
		        $.each(data, function(index, item) {
		            if (index === 0) {
		                printPrepare();
		            }

		            var str = '[' + (index + 1) + '].&nbsp;' +
		                '<span index="' + (index + 1) + '" id="' + item.id + '" class="name">' + item.name + '</span>' + '&nbsp;' +
		                '<span class="alias">' + getRelativeAlias(item.alias) + '</span>' + '&nbsp;' +
		                '<span class="source1">' + item.source1 + '</span>' + '&nbsp;' +
		                '<span class="source2">' + item.source2 + '</span>' + '&nbsp;' +
		                '<span class="reference">' + item.reference + '</span>' + '&nbsp;';
		            oResultLast.append(str + '<br>');
		        })
		        currResultDivs = [oResultLast];

		        printStart(function(){
		        	printOver();
		        	if(fn){
		        		fn();
		        	}
		        });
		    }else{
		    	printOver();
	        	if(fn){
	        		fn();
	        	}
		    }
		}

		//准备打印 - 放入结果div
		function printPrepare() {
		    oResultLast = $('<div class="result-last-prepare"></div>');
		    oInputDiv.before(oResultLast);
		}

		//开始打印 - 计算打印高度后开始打印
		function printStart(fn) {
		    var totalHeight = oResultLast.height();
		    oResultLast.addClass('result-last');
		    oResultLast.height(0);
		    oResultLast.show();
		    printByLine(totalHeight, fn);
		}

		//打印结束 - 移除打印标记，恢复输入框，请求状态置为false
		function printOver() {
		    clearTimeout(timer);

		    oResultLast.removeClass('result-last');

		    // oInputIndicator.text(indicatorStr);
		    // oInputIndicator.attr('mode', mode ? );
		    oInputDiv.show();
		    scrollToEnd();
		    isPosting = false;
		}

		//获取选择项的id
		function getSelectedId(index) {
		    for (var i = 0; i < currResultDivs.length; i++) {
		        var o = currResultDivs[i].find('span[index="' + index + '"]');
		        if (o.length > 0) {
		            return o.attr('id');
		        }
		    }
		    return false;
		}

		//获得关联的别名
		function getRelativeAlias(alias) {
		    if (!alias || alias.length == 0) {
		        return '';
		    }

		    if (currSearch && alias.indexOf(currSearch) > -1) {
		        var aliasArr = alias.split('，');
		        for (var i = 0; aliasArr; i++) {
		            if (aliasArr[i].indexOf(currSearch) > -1) {
		                return aliasArr[i];
		            }
		        }
		    }

		    return alias.length > 10 ? (alias.substring(0, 10) + '...') : alias;
		}

		//逐行打印本次输出
		function printByLine(totalHeight, fn) {
		    if (oResultLast.height() === 0) {
		        oResultLastCurrHeight = 0;
		    }

		    if (oResultLastCurrHeight + 1 < totalHeight) {
		        timer = setTimeout(function() {
		            oResultLastCurrHeight += lineHeight;
		            oResultLast.height(oResultLastCurrHeight);
		            scrollToEnd();

		            printByLine(totalHeight, fn);
		        }, oResultLastCurrHeight === 0 ? 0 : 60);
		    } else {
		        if (fn) {
		            fn();
		        }
		    }
		}

		//滚动到底部
		function scrollToEnd() {
		    oResult.scrollTop(oResult.prop('scrollHeight'));
		}

		function getBrowserVer(){
			var ua = navigator.userAgent.toLowerCase();
			var s;
	        if(s = ua.match(/msie ([\d.]+)/)) return {name: 'IE', version: s[1]};
	        if(s = ua.match(/firefox\/([\d.]+)/)) return {name: 'Firefox', version: s[1]};
	        if(s = ua.match(/chrome\/([\d.]+)/)) return {name: 'Chrome', version: s[1]};
	        if(s = ua.match(/opera.([\d.]+)/)) return {name: 'Opera', version: s[1]};
	        if(s = ua.match(/version\/([\d.]+).*safari/)) return {name: 'Safari', version: s[1]};
	        return false;
		}

		function getOS() {
			var userAgent = navigator.userAgent.toLowerCase();
			if(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)){
				return "IOS";
			}else if(userAgent.indexOf('mac') > -1){
				return "Mac";
			}else if(userAgent.indexOf('android') > -1){
				return "Android";
			}else if(userAgent.indexOf('windows nt 5.1') > -1){
				return "Windows XP";
			}else if(userAgent.indexOf('windows nt 6.1') > -1){
				return "Windows 7";
			}else if(userAgent.indexOf('windows nt 6.2') > -1){
				return "Windows 8";
			}else if(userAgent.indexOf('windows nt 6.3') > -1){
				return "Windows 8.1";
			}else if(userAgent.indexOf('windows nt 10') > -1){
				return "Windows 10";
			}else{
				return "unknown";
			}
		}
    </script>
</body>
</html>
