<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyml.demo1.mapper.MedicineMapper">
    <select id="listByObj" parameterType="com.lyml.demo1.model.Medicine" resultType="com.lyml.demo1.model.Medicine">
        SELECT * FROM medicine where 1=1
        <if test="search != null and search  != ''">
            and (name like concat('%', #{search}, '%')
            or alias like concat('%', #{search}, '%')
            or reference like concat('%', #{search}, '%')
            or source1 like concat('%', #{search}, '%')
            or source2 like concat('%', #{search}, '%'))
        </if>
        order by createTime desc
    </select>
</mapper>