<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyml.demo1.mapper.RoleMapper">
    <select id="listByObj" parameterType="com.lyml.demo1.model.Role" resultType="com.lyml.demo1.model.Role">
        SELECT * FROM role where 1=1 order by sort
    </select>

    <select id="listByUserId" parameterType="Long" resultType="com.lyml.demo1.model.Role">
        select r.* from roleuser ru LEFT JOIN role r on r.id = ru.roleId where ru.userId = #{userId} order by r.sort
    </select>

    <select id="selectOneByUserId" parameterType="Long" resultType="com.lyml.demo1.model.Role">
        select r.* from roleuser ru LEFT JOIN role r on r.id = ru.roleId where ru.userId = #{userId} order by r.sort limit 1
    </select>
</mapper>